/* TODO Add site wide styles */

*,
*::before,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.square {
  height: 5rem;
  width: 5rem;
  margin: 5px;

  position: relative;

  transition: background-color .3s;

  /* Temporary, for illustrative purposes */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

@media (max-width: 800px) {
  .square {
    height: 4rem;
    width: 4rem;
    margin: 4px;
  }
}

@media (max-width: 675px) {
  .square {
    height: 3rem;
    width: 3rem;
    margin: 3px;
  }
}

.position {
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 12px;
  font-weight: normal;
  user-select: none;
  transition: color .5s;
}

.off-board {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected,
.possible,
.targeted,
.selectable {
  cursor: pointer;
}

.square.selected {
  background-color: rgba(135, 206, 250, .75);
}

.square.possible {
  background-color: rgba(144, 238, 144, .75);
}

.square.targeted {
  background-color: rgba(240, 128, 128, .75);
}

.square.selected,
.square.possible,
.square.targeted {
  color: rgb(60, 50, 50);
}

.square.possible:hover,
.square.targeted:hover {
  border: 3px solid rgba(60, 50, 50, .5);
}

.white {
  background-color: rgba(200, 200, 200, .75);
  color: rgb(60, 50, 50);
  border: 3px solid transparent
}

.black {
  background-color: rgba(60, 50, 50, .75);
  color: rgb(200, 200, 200);
  border: 3px solid transparent
}

.white-king::before,
.white-queen::before,
.white-bishop::before,
.white-rook::before,
.white-knight::before,
.black-king::before,
.black-queen::before,
.black-bishop::before,
.black-rook::before,
.black-knight::before {
  padding-top: 5%;
  width: 55%;
}

.black-pawn::before,
.white-pawn::before {
  padding-top: 5%;
  width: 45%;
}

.white-king::before {
  content: url('./images/no_shadow/w_king_svg_NoShadow.svg');
}

.white-queen::before {
  content: url('./images/no_shadow/w_queen_svg_NoShadow.svg');
}

.white-bishop::before {
  content: url('./images/no_shadow/w_bishop_svg_NoShadow.svg');
}

.white-rook::before {
  content: url('./images/no_shadow/w_rook_svg_NoShadow.svg');
}

.white-knight::before {
  content: url('./images/no_shadow/w_knight_svg_NoShadow.svg');
}

.white-pawn::before {
  content: url('./images/no_shadow/w_pawn_svg_NoShadow.svg');
}

.black-king::before {
  content: url('./images/no_shadow/b_king_svg_NoShadow.svg');
}

.black-queen::before {
  content: url('./images/no_shadow/b_queen_svg_NoShadow.svg');
}

.black-bishop::before {
  content: url('./images/no_shadow/b_bishop_svg_NoShadow.svg');
}

.black-rook::before {
  content: url('./images/no_shadow/b_rook_svg_NoShadow.svg');
}

.black-knight::before {
  content: url('./images/no_shadow/b_knight_svg_NoShadow.svg');
}

.black-pawn::before {
  content: url('./images/no_shadow/b_pawn_svg_NoShadow.svg');
}

.game-options {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  display: flex;
  flex-direction: column;
}

.game-options button {
  border: none;
  color: rgba(60, 50, 50, .75);
  cursor: pointer;
  font-size: 1.5rem;
  margin: 5px;
  border-radius: 5px;
  transition: all .15s;
  background-color: none;
}

.game-options button:hover {
  transform: translateY(-2px);
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.game-options button:active {
  transform: translateY(0px);
  text-shadow: none;
}

@media (max-width: 500px) {
  .square {
    height: 2rem;
    width: 2rem;
    margin: 2px;
  }

  .square.possible:hover,
  .square.targeted:hover {
    border: 3px solid transparent;
  }
}
